//styling the jumbotron
.jumbotron{
    background: url(/styling/images/background.jpg);
    background-size: 100% 100%;
    height: 600px;
    //styling the logo
    #logo{
        width: 75px;
        height: 75px;
    }
    //styling the feature
    #feature{
        color: white;
        margin-top: 60px;
    }
    //styling the buttons
    button{
        background-color: rgba(152,86,57,0.5);
        color: white;
        border-radius: 10px;
        width: 160px;
        margin: 20px 20px 0 0;
    }
    button:hover, button:active{
        background-color: rgb(152,86,57);
    }
}
//styling the download section
#download{
    text-align: center;
    margin-top: 20px;
    img{
        width: 200px;
        margin: 20px;
    }
}
//styling the footer
#footer{
    background-color: #eee;
    font-size: 15px;
    padding: 10px 0;
    margin-top: 40px;
}

//styling for screen bigger than 480px and smaller than 768px
@media (min-width: 480px) and (max-width: 768px){
    .jumbotron{
        height: 410px;
        #logo{
            width: 50px;
            height: 50px;
        }
        #feature{
            text-align: center;
            margin-top: 30px;
        }
    }
}

//styling for screen smaller than 480px
@media (max-width: 480px){
    .jumbotron{
        height: 410px;
        #logo{
            width: 50px;
            height: 50px;
        }
        #feature{
            text-align: center;
            margin-top: 10px;
            p, button{
                font-size: 13px;
            }
            button{
                width: 130px;
            }
        }
    }
    #download img{
        width: 100px;
    }
}